<template>
  <div>
    <sized-box :height="15" />
    <div v-if="breadcrumbs.useCrumbs">
      <div class="main-breadcrumbs">
        <div class="main-toptitle" v-if="breadcrumbs.maintitle">
          {{ breadcrumbs.maintitle }}
        </div>
        <default-crumbs :data="breadcrumbs.data"></default-crumbs>
      </div>
    </div>
    <div class="main">
      <a-layout-content class="main-content">
        <slot />
      </a-layout-content>
    </div>
  </div>
</template>

<script>
import DefaultCrumbs from "@/components/BreadCrumbs.vue";

export default {
  props: {
    breadcrumbs: {
      type: Object,
      default: () => {
        return {
          useCrumbs: false,
          data: [
            {
              icon: "home",
              text: "Home",
              path: "/admin",
            },
          ],
        };
      },
    },
  },
  components: {
    DefaultCrumbs,
  },
};
</script>
