<template>
  <div>
    <div v-if="breadcrumbs.useCrumbs">
      <div class="main-breadcrumbs">
        <div v-if="breadcrumbs.title">
          <div class="main-breadcrumbs-title">
            {{ breadcrumbs.title }}
            <span class="main-breadcrumbs-subtitle">
              {{ breadcrumbs.subtitle }}
            </span>
          </div>
        </div>
        <default-crumbs :data="breadcrumbs.data"></default-crumbs>
      </div>
    </div>
    <div class="main">
      <a-layout-content class="table-content">
        <slot />
      </a-layout-content>
    </div>
  </div>
</template>

<script>
import DefaultCrumbs from "@/components/BreadCrumbs.vue";

export default {
  props: {
    breadcrumbs: {
      type: Object,
      default: () => {
        return {
          useCrumbs: false,
          data: [
            {
              icon: "home",
              text: "Home",
              path: "/admin",
            },
          ],
        };
      },
    },
  },
  components: {
    DefaultCrumbs,
  },
};
</script>
