<template>
  <div class="filters">
    <div class="filters-content animated fadeIn" v-if="isShowed">
      <a-row :gutter="[12, 0]">
        <a-col :span="24">
          <a-form-model-item
            label="Kata Kunci Pencarian"
            ref="title"
            prop="title"
          >
            <a-input
              type="text"
              v-model="filters.search"
              placeholder="Masukan kata kunci pencarian"
            >
              <a-tooltip slot="suffix" title="Kata Kunci">
                <a-icon type="key" style="color: rgba(0, 0, 0, 0.45)" />
              </a-tooltip>
            </a-input>
            <div class="filters-subtitle">
              Kata kunci pencarian berdasarkan
              <strong>TITLE</strong> atau <strong>ORGANIZATION</strong>
            </div>
          </a-form-model-item>
        </a-col>
      </a-row>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      isShowed: false,
      filters: {
        search: "",
        type: "",
        kategori: "",
        tanggal_awal: null,
        tanggal_akhir: null,
      },
      optionsType: [],
      optionsKategori: [],
    };
  },
  methods: {
    showFilter(toggle) {
      this.isShowed = toggle;
    },
    onReset() {
      this.filters = {
        search: "",
        type: "",
        kategori: "",
      };
      this.$emit("handleSearch", this.filters);
    },
    onSearch() {
      this.$emit("handleSearch", this.filters);
    },
  },
  mounted() {},
};
</script>
