<template>
  <main-wrapper :breadcrumbs="breadcrumbs">
    <div class="digilearn">
      <div class="digilearn-content">
        <div class="form-title">Add Course</div>
        <div class="form-content">
          <div class="form-subtitle">
            <span>Course Details</span>
          </div>
          <div>
            <a-row :gutter="[12, 0]">
              <a-col :span="12">
                <!-- Field Email -->
                <a-form-model-item label="Title" ref="title" prop="title">
                  <a-input
                    type="text"
                    v-model="course_detail.title"
                    placeholder="Masukan Judul"
                  />
                </a-form-model-item>
              </a-col>
              <a-col :span="12">
                <!-- Field Email -->
                <a-form-model-item
                  label="Thumbnails"
                  ref="thumbnails"
                  prop="thumbnails"
                >
                  <div
                    class="file-upload-wrapper"
                    data-text="Select your file!"
                  >
                    <input
                      name="file-upload-field"
                      type="file"
                      class="file-upload-field"
                      value=""
                    />
                  </div>
                </a-form-model-item>
              </a-col>
            </a-row>
            <a-row :gutter="[12, 0]">
              <a-col :span="12">
                <!-- Field Email -->
                <a-form-model-item
                  label="Start Date"
                  ref="start_date"
                  prop="start_date"
                >
                  <a-input
                    type="text"
                    v-model="course_detail.start_date"
                    placeholder="Masukan Tanggal Mulai"
                  />
                </a-form-model-item>
              </a-col>
              <a-col :span="12">
                <!-- Field Email -->
                <a-form-model-item
                  label="End Date"
                  ref="end_date"
                  prop="end_date"
                >
                  <a-input
                    type="text"
                    v-model="course_detail.end_date"
                    placeholder="Masukan Tanggal Mulai"
                  />
                </a-form-model-item>
              </a-col>
            </a-row>
            <a-row :gutter="[12, 0]">
              <a-col :span="12">
                <!-- Field Email -->
                <a-form-model-item label="Caption" ref="caption" prop="caption">
                  <a-textarea
                    type="text"
                    v-model="course_detail.caption"
                    placeholder="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente voluptates, molestiae dolores iure iste asperiores quis est quod nihil expedita repellendus rerum vitae quibusdam dolorem et, fugiat, rem alias dicta."
                    style="height: 150px"
                  />
                </a-form-model-item>
              </a-col>
              <a-col :span="12">
                <!-- Field Email -->
                <a-form-model-item
                  label="Description"
                  ref="description"
                  prop="description"
                >
                  <a-textarea
                    type="text"
                    v-model="course_detail.description"
                    placeholder="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente voluptates, molestiae dolores iure iste asperiores quis est quod nihil expedita repellendus rerum vitae quibusdam dolorem et, fugiat, rem alias dicta."
                    style="height: 150px"
                  />
                </a-form-model-item>
              </a-col>
            </a-row>
          </div>

          <a-row :gutter="[12, 0]">
            <a-col :span="12">
              <div class="form-subtitle">
                <span>Content Category</span>
              </div>
              <!-- Level -->
              <a-form-model-item label="Level" ref="level" prop="level">
                <a-select
                  show-search
                  placeholder="Select a level"
                  option-filter-prop="children"
                  v-model="content_category.level"
                  style="width: 100%"
                >
                  <a-select-option value="1"> 1 </a-select-option>
                  <a-select-option value="2"> 2 </a-select-option>
                  <a-select-option value="3"> 3 </a-select-option>
                </a-select>
              </a-form-model-item>

              <!-- Categories -->
              <a-form-model-item
                label="Categories"
                ref="categories"
                prop="categories"
              >
                <a-select
                  show-search
                  v-model="content_category.categories"
                  placeholder="Select a categories"
                  option-filter-prop="children"
                  style="width: 100%"
                >
                  <a-select-option value="1"> 1 </a-select-option>
                  <a-select-option value="2"> 2 </a-select-option>
                  <a-select-option value="3"> 3 </a-select-option>
                </a-select>
              </a-form-model-item>

              <!-- Comptencies -->
              <a-form-model-item
                label="Competencies Based Category"
                ref="comptencies"
                prop="comptencies"
              >
                <a-select
                  show-search
                  placeholder="Select a comptencies"
                  option-filter-prop="children"
                  v-model="content_category.competencies"
                  style="width: 100%"
                  mode="multiple"
                >
                  <a-select-option value="Lorem Ipsum 1">
                    Lorem Ipsum
                  </a-select-option>
                  <a-select-option value="Lorem Ipsum 2">
                    Lorem Ipsum
                  </a-select-option>
                  <a-select-option value="Lorem Ipsum 3">
                    Lorem Ipsum
                  </a-select-option>
                </a-select>
              </a-form-model-item>

              <!-- Business Domain -->
              <a-form-model-item
                label="Business Domain"
                ref="businessdomain"
                prop="businessdomain"
              >
                <a-select
                  show-search
                  placeholder="Select a Business Domain"
                  option-filter-prop="children"
                  v-model="content_category.business_domain"
                  style="width: 100%"
                  mode="multiple"
                >
                  <a-select-option value="Lorem Ipsum 1">
                    Lorem Ipsum
                  </a-select-option>
                  <a-select-option value="Lorem Ipsum 2">
                    Lorem Ipsum
                  </a-select-option>
                  <a-select-option value="Lorem Ipsum 3">
                    Lorem Ipsum
                  </a-select-option>
                </a-select>
              </a-form-model-item>
            </a-col>

            <a-col :span="12">
              <div class="form-subtitle">
                <span>Content Control</span>
              </div>
              <!-- Level -->
              <a-form-model-item label="Privacy" ref="privacy" prop="privacy">
                <a-radio-group v-model="content_control.privacy">
                  <a-radio :style="radioStyle" :value="1">
                    <p class="radio-title">Public</p>
                    <p class="radio-sub-title">Everyone can watch your video</p>
                  </a-radio>
                  <a-radio :style="radioStyle" :value="2">
                    <p class="radio-title">Protect</p>
                    <p class="radio-sub-title">
                      Everyone wiht link can watch your video
                    </p>
                  </a-radio>
                  <a-radio :style="radioStyle" :value="3">
                    <p class="radio-title">Private</p>
                    <p class="radio-sub-title">
                      Only someone with access can watch your video
                    </p>
                  </a-radio>
                </a-radio-group>
              </a-form-model-item>

              <!-- Sequence -->
              <a-form-model-item
                label="Sequence"
                ref="sequence"
                prop="sequence"
              >
                <a-radio-group v-model="content_control.sequence">
                  <a-radio :style="radioStyle" :value="1">
                    <p class="radio-title">Random</p>
                    <p class="radio-sub-title">
                      User can select content without paying attention to the
                      order of the content. (Course Flow)
                    </p>
                  </a-radio>
                  <a-radio :style="radioStyle" :value="2">
                    <p class="radio-title">Sequence</p>
                    <p class="radio-sub-title">
                      User are required to follow the course flow.
                    </p>
                  </a-radio>
                </a-radio-group>
              </a-form-model-item>

              <!-- Certified -->
              <a-form-model-item
                label="Certificate"
                ref="certificate"
                prop="certificate"
              >
                <a-radio-group v-model="content_control.certified">
                  <a-radio :style="radioStyle" :value="1">
                    <p class="radio-title">Certificate</p>
                    <p class="radio-sub-title">Everyone can watch your video</p>
                  </a-radio>
                  <a-radio :style="radioStyle" :value="2">
                    <p class="radio-title">No Certificate</p>
                    <p class="radio-sub-title">
                      Everyone wiht link can watch your video
                    </p>
                  </a-radio>
                </a-radio-group>
              </a-form-model-item>

              <!-- Status -->
              <a-form-model-item label="Status" ref="status" prop="status">
                <a-select
                  show-search
                  placeholder="Status"
                  option-filter-prop="children"
                  v-model="content_control.status"
                  style="width: 100%"
                >
                  <a-select-option value="Lorem Ipsum 1">
                    Lorem Ipsum
                  </a-select-option>
                  <a-select-option value="Lorem Ipsum 2">
                    Lorem Ipsum
                  </a-select-option>
                  <a-select-option value="Lorem Ipsum 3">
                    Lorem Ipsum
                  </a-select-option>
                </a-select>
              </a-form-model-item>

              <!-- Organization -->
              <a-form-model-item
                label="Organization"
                ref="organization"
                prop="organization"
              >
                <a-select
                  show-search
                  placeholder="Status"
                  option-filter-prop="children"
                  v-model="content_control.organization"
                  style="width: 100%"
                  mode="multiple"
                >
                  <a-select-option value="Lorem Ipsum 1">
                    Lorem Ipsum
                  </a-select-option>
                  <a-select-option value="Lorem Ipsum 2">
                    Lorem Ipsum
                  </a-select-option>
                  <a-select-option value="Lorem Ipsum 3">
                    Lorem Ipsum
                  </a-select-option>
                </a-select>
              </a-form-model-item>

              <!-- Organization -->
              <a-form-model-item
                label="Learning Hours (on minutes)"
                ref="learninghours"
                prop="learninghours"
              >
                <a-select
                  show-search
                  placeholder="Status"
                  option-filter-prop="children"
                  v-model="content_control.learning_hours"
                  style="width: 100%"
                  mode="multiple"
                >
                  <a-select-option value="Lorem Ipsum 1">
                    Lorem Ipsum
                  </a-select-option>
                  <a-select-option value="Lorem Ipsum 2">
                    Lorem Ipsum
                  </a-select-option>
                  <a-select-option value="Lorem Ipsum 3">
                    Lorem Ipsum
                  </a-select-option>
                </a-select>
              </a-form-model-item>
            </a-col>
          </a-row>
        </div>

        <div class="form-footer">
          <a-row>
            <a-col :span="24" :style="{ textAlign: 'right' }">
              <a-button type="danger" size="large" class="button-add">
                Add
              </a-button>
              <a-button size="large" type="primary" class="button-discard">
                Discard
              </a-button>
            </a-col>
          </a-row>
        </div>
      </div>
    </div>
  </main-wrapper>
</template>

<script>
import Models from "@/views/admin/course/models/FormModel";
import Controllers from "@/views/admin/course/controllers/FormController";

export default {
  data() {
    return {
      ...Models,
    };
  },
  methods: {
    ...Controllers,
  },
};
</script>

<style lang="scss" scoped>
.digilearn {
  .form-title {
    padding: 20px;
    font-size: 25px;
    border-bottom: 1px solid #efefef;
    color: #1f2855;
  }

  .form-content {
    padding: 20px;
  }

  .form-subtitle {
    color: #457b9d;
    font-weight: bold;
    border-top: 1px solid #efefef;
    span {
      position: relative;
      display: inline-block;
      top: -10px;
      background: #fff;
      padding-right: 20px;
    }
  }

  .form-footer {
    border-top: 1px solid #efefef;
    padding: 20px;
  }
}

.file-upload-wrapper {
  $defaultColor: #d2000f;
  $height: 32px;

  position: relative;
  width: 100%;
  height: $height;
  border: 1px solid #a6a9bc;
  border-radius: 3px;
  top: 4px;

  &:after {
    content: attr(data-text);
    font-size: 13px;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    padding: 10px 15px;
    display: block;
    width: calc(100% - 40px);
    pointer-events: none;
    z-index: 20;
    height: $height - 20px;
    line-height: $height - 20px;
    color: #999;
    border-radius: 5px 10px 10px 5px;
    font-weight: 300;
  }

  &:before {
    content: "Upload";
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    height: 30px;
    background: $defaultColor;
    color: #fff;
    font-weight: 700;
    z-index: 25;
    font-size: 11px;
    line-height: $height;
    padding: 0 15px;
    text-transform: uppercase;
    pointer-events: none;
  }

  &:hover {
    &:before {
      background: darken($defaultColor, 10%);
    }
  }
  input {
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99;
    height: 30px;
    margin: 0;
    padding: 0;
    display: block;
    cursor: pointer;
    width: 100%;
  }
}

.button-add {
  background: #d2000f;
  margin-right: 10px;
  border: 1px solid #d2000f;
}

.button-discard {
  background: #fff;
  border: 1px solid #d2000f;
  color: #d2000f;
}
</style>
