<template>
  <main-wrapper :breadcrumbs="breadcrumbs">
    <div class="digilearn">
      <div class="digilearn-content">
        <div class="form-title">Course Details</div>
        <div class="form-content">
          <div>
            <a-row :gutter="[12, 0]">
              <a-col :span="12">
                <!-- Field Email -->
                <a-form-model-item>
                  <img class="images" src="/img/images.png" alt="images" />
                </a-form-model-item>
                <div>
                  <p class="data-title">Created at</p>
                  <p class="data-subtitle">08/22/2022 00:00</p>
                </div>
                <div>
                  <p class="data-title">Status</p>
                  <p class="data-subtitle">
                    <span class="draft">Draft</span>
                  </p>
                </div>
              </a-col>
              <a-col :span="12">
                <div>
                  <p class="data-title">Title</p>
                  <p class="data-subtitle">
                    Introduction to Core Values AKHLAK
                  </p>
                </div>
                <div>
                  <p class="data-title">Category</p>
                  <p class="data-subtitle">Digital Content & Service</p>
                </div>
                <div>
                  <p class="data-title">Competencies</p>
                  <p class="data-subtitle">Digital Product/Service Planning</p>
                </div>
                <div>
                  <p class="data-title">Caption</p>
                  <p class="data-subtitle">Core Values BUMN - AKHLAK</p>
                </div>
                <div>
                  <p class="data-title">Updated By</p>
                  <p class="data-subtitle">Admin</p>
                </div>
                <div>
                  <p class="data-title">Privacy</p>
                  <p class="data-subtitle">
                    <span class="draft">Public</span>
                  </p>
                </div>
                <div>
                  <p class="data-title">Last Updated</p>
                  <p class="data-subtitle">08/22/2022 00:00</p>
                </div>
              </a-col>
            </a-row>
          </div>
          <sized-box :height="35"></sized-box>
          <div>
            <a-row :gutter="[12, 0]">
              <a-col :span="24">
                <div class="form-subtitle">
                  <span>Content</span>
                </div>
                <a-tabs default-active-key="1">
                  <a-tab-pane key="1" tab="Details">
                    Pengenalan Core Values BUMN AKHLAK (Amanah, Kompetensi,
                    Harmonis, Loyal, Adaptif, Kolaboratif)
                  </a-tab-pane>
                  <a-tab-pane key="2" tab="Content" force-render>
                    Pengenalan Core Values BUMN AKHLAK (Amanah, Kompetensi,
                    Harmonis, Loyal, Adaptif, Kolaboratif)
                  </a-tab-pane>
                  <a-tab-pane key="3" tab="Participant Course">
                    Pengenalan Core Values BUMN AKHLAK (Amanah, Kompetensi,
                    Harmonis, Loyal, Adaptif, Kolaboratif)
                  </a-tab-pane>
                  <a-tab-pane key="4" tab="Invite User">
                    Pengenalan Core Values BUMN AKHLAK (Amanah, Kompetensi,
                    Harmonis, Loyal, Adaptif, Kolaboratif)
                  </a-tab-pane>
                </a-tabs>
              </a-col>
            </a-row>
          </div>
        </div>

        <div class="form-footer">
          <a-row>
            <a-col :span="24" :style="{ textAlign: 'right' }">
              <a-button type="danger" size="large" class="button-add">
                Publish Course
              </a-button>
            </a-col>
          </a-row>
        </div>
      </div>
    </div>
  </main-wrapper>
</template>

<script>
import Models from "@/views/admin/course/models/FormModel";
import Controllers from "@/views/admin/course/controllers/FormController";

export default {
  data() {
    return {
      ...Models,
    };
  },
  methods: {
    ...Controllers,
  },
};
</script>

<style lang="scss" scoped>
.digilearn {
  .form-title {
    padding: 20px;
    font-size: 25px;
    border-bottom: 1px solid #efefef;
    color: #1f2855;
  }

  .form-content {
    padding: 20px;
  }

  .form-subtitle {
    color: #457b9d;
    font-weight: bold;
    border-top: 1px solid #efefef;
    span {
      position: relative;
      display: inline-block;
      top: -10px;
      background: #fff;
      padding-right: 20px;
    }
  }

  .form-footer {
    border-top: 1px solid #efefef;
    padding: 20px;
  }
}

.file-upload-wrapper {
  $defaultColor: #d2000f;
  $height: 32px;

  position: relative;
  width: 100%;
  height: $height;
  border: 1px solid #a6a9bc;
  border-radius: 3px;
  top: 4px;

  &:after {
    content: attr(data-text);
    font-size: 13px;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    padding: 10px 15px;
    display: block;
    width: calc(100% - 40px);
    pointer-events: none;
    z-index: 20;
    height: $height - 20px;
    line-height: $height - 20px;
    color: #999;
    border-radius: 5px 10px 10px 5px;
    font-weight: 300;
  }

  &:before {
    content: "Upload";
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    height: 30px;
    background: $defaultColor;
    color: #fff;
    font-weight: 700;
    z-index: 25;
    font-size: 11px;
    line-height: $height;
    padding: 0 15px;
    text-transform: uppercase;
    pointer-events: none;
  }

  &:hover {
    &:before {
      background: darken($defaultColor, 10%);
    }
  }
  input {
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99;
    height: 30px;
    margin: 0;
    padding: 0;
    display: block;
    cursor: pointer;
    width: 100%;
  }
}

.button-add {
  background: #d2000f;
  margin-right: 10px;
  border: 1px solid #d2000f;
}

.button-discard {
  background: #fff;
  border: 1px solid #d2000f;
  color: #d2000f;
}

.data-title {
  color: #797f99;
  font-size: 11px;
  margin-bottom: 5px;
}
.data-subtitle {
  color: #457b9d;
  font-weight: 600;
  margin-bottom: 20px;

  span.draft {
    padding: 3px 15px;
    display: inline-block;
    background: #f9dbdb;
    border-radius: 17px;
    color: #d2000f;
  }
}

.images {
  width: 95%;
}
</style>
