<template>
  <main-wrapper :breadcrumbs="breadcrumbs">
    <div class="digilearn">
      <div class="digilearn-content">
        <div class="table-header">
          <div class="table-header-title">
            <div><div class="table-list-title">Course List</div></div>
            <div>
              <img
                src="/img/icons/filter.png"
                alt="filter"
                @click="showFilter"
              />
            </div>
            <div><img src="/img/icons/search-red.png" alt="filter" /></div>
          </div>
          <div class="table-header-action">
            <a-button
              class="digilearn-button"
              icon="plus"
              @click="() => $router.push({ name: 'course-form' })"
            >
              Add Course
            </a-button>
          </div>
        </div>
        <index-filters
          ref="courseFilter"
          @handleSearch="handleSearch"
          @handleReset="handleSearch"
        ></index-filters>
        <div class="table-list">
          <a-table
            :columns="columns"
            :data-source="data"
            :scroll="{ x: 1200 }"
            :row-key="(record) => record.id"
          >
            <a slot="statusSlot" slot-scope="record">
              <div v-if="record.video_status">
                <span class="label label-publish">Publish</span>
              </div>
              <div v-else>
                <span class="label label-draft">Draft</span>
              </div>
            </a>

            <a slot="action" slot-scope="record">
              <a-dropdown>
                <a class="ant-dropdown-link" @click="(e) => e.preventDefault()">
                  <a-icon type="more" style="font-size: 25px" />
                </a>
                <a-menu slot="overlay">
                  <a-menu-item>
                    <a
                      href="javascript:void(0);"
                      @click="() => deleteItem(record.id)"
                    >
                      <a-icon type="delete" /> Delete Item
                    </a>
                  </a-menu-item>
                  <a-menu-item>
                    <a
                      href="javascript:void(0);"
                      @click="
                        () =>
                          $router.push({
                            name: 'course-update',
                            params: {
                              id: record.id,
                            },
                          })
                      "
                    >
                      <a-icon type="edit" /> Edit Item
                    </a>
                  </a-menu-item>
                </a-menu>
              </a-dropdown>
            </a>
          </a-table>
        </div>
      </div>
    </div>
  </main-wrapper>
</template>

<script>
import Models from "@/views/admin/course/models/IndexModel";
import Controllers from "@/views/admin/course/controllers/IndexController";
import IndexFilters from "@/views/admin/course/views/filters/IndexFilter";

export default {
  components: {
    IndexFilters,
  },
  data() {
    return {
      ...Models,
    };
  },
  methods: {
    ...Controllers,
  },
};
</script>

<style lang="scss" scoped>
.table-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  div {
    margin-right: 10px;
  }
  &-title {
    display: flex;
    color: #1f2855;

    img {
      height: 25px;
      cursor: pointer;
    }
  }
}
.table-list-title {
  padding-right: 50px;
  font-size: 20px;
}

.digilearn-button {
  border: 1px solid #d2000f;
  color: #d2000f;
}

.label {
  display: inline-block;
  padding: 5px 15px;
  border-radius: 20px;
  width: 100px;
  font-weight: 500;
}
.label-publish {
  background: #cce9ef;
  color: #0093ad;
}

.label-draft {
  background: #f1b7b6;
  color: #d2000f;
}
</style>
