<template>
  <span class="badge">
    <a-badge
      :count="count"
      :number-style="{
        backgroundColor: bg,
        color: color,
        boxShadow: '0 0 0 1px #d9d9d9 inset',
      }"
    />
  </span>
</template>

<script>
export default {
  props: {
    bg: { type: String, default: () => "#fff" },
    count: {
      type: Number,
      default: () => 0,
    },
    color: {
      type: String,
      default: () => "#999",
    },
  },
};
</script>
