<template>
  <a-breadcrumb separator=">">
    <template v-if="data.length">
      <router-link :to="'/'">
        <img class="icon-homecrumbs" src="/img/icons/homecrumbs.png" />
      </router-link>
      <a-breadcrumb-item v-for="(value, index) in data" :key="index">
        <router-link :to="value.path">
          <a-icon v-if="value.icon" :type="value.icon" style="color: #d2000f" />
          <span v-if="value.text">
            {{ value.text }}
          </span>
        </router-link>
      </a-breadcrumb-item>
    </template>
  </a-breadcrumb>
</template>

<script>
export default {
  props: {
    data: {
      type: Array,
      default: () => {
        return [
          {
            icon: "home",
            text: "Home",
            path: "/admin",
          },
        ];
      },
    },
  },
};
</script>
