<template>
  <main-wrapper :breadcrumbs="breadcrumbs">
    <h2>Welcome to page {{ page }}</h2>
  </main-wrapper>
</template>

<script>
import Models from "@/views/admin/quiz/models/IndexModel";

export default {
  data() {
    return {
      ...Models,
    };
  },
};
</script>
