<template>
  <main-wrapper :breadcrumbs="breadcrumbs">
    <h2>Welcome to Dashboard Page.</h2>
  </main-wrapper>
</template>

<script>
export default {
  data() {
    return {
      params: "",
      breadcrumbs: {
        useCrumbs: true,
        maintitle: "Dashboard",
        data: [
          {
            text: "Dashboard",
            path: "#",
          },
        ],
      },
    };
  },
};
</script>
