<template>
  <div class="wrapperLogin">
    <div class="boxLoginWrapper">
      <div class="boxLogin-square">
        <a-form
          id="components-form-demo-normal-login"
          :form="form"
          class="login-form"
          @submit="handleSubmit"
        >
          <a-form-item>
            <div style="font-weight: bold; font-size: 18px">LOGIN</div>
          </a-form-item>
          <a-form-item>
            <span>E-mail </span>
            <a-input
              v-decorator="[
                'username',
                {
                  rules: [
                    { required: true, message: 'Please input your username!' },
                    { type: 'email', message: 'Please input valid email!' },
                  ],
                },
              ]"
              placeholder="Type your username"
            >
              <a-icon
                slot="prefix"
                type="user"
                style="color: rgba(0, 0, 0, 0.25)"
              />
            </a-input>
          </a-form-item>
          <a-form-item>
            <span>
              Password
              <a class="login-form-forgot" href=""> Forgot password? </a>
            </span>
            <a-input-password
              v-decorator="[
                'password',
                {
                  rules: [
                    { required: true, message: 'Please input your Password!' },
                  ],
                },
              ]"
              type="password"
              placeholder="Type your password"
            >
              <a-icon
                slot="prefix"
                type="lock"
                style="color: rgba(0, 0, 0, 0.25)"
              />
            </a-input-password>
          </a-form-item>
          <a-form-item style="margin-bottom: 0px">
            <a-checkbox
              v-decorator="[
                'remember',
                {
                  valuePropName: 'checked',
                  initialValue: true,
                },
              ]"
            >
              Remember me
            </a-checkbox>
            <a-button
              type="primary"
              html-type="submit"
              class="login-form-button"
              style="
                border-radius: 50px;
                height: 40px;
                background: #ff8823;
                border: none;
              "
            >
              Log in
            </a-button>
          </a-form-item>
        </a-form>
      </div>
    </div>
  </div>
</template>

<script>
import { AuthService } from "@/services/admin/auth.service";
import $store from "@/store/index";

export default {
  beforeCreate() {
    this.form = this.$form.createForm(this, { name: "normal_login" });
  },
  methods: {
    handleSubmit(e) {
      e.preventDefault();
      this.form.validateFields(async (err, values) => {
        if (!err) {
          try {
            const body = (({ remember, ...o }) => o)(values);
            await AuthService.doLogin(body);
            await $store.dispatch("auth/getCurrent");
            await this.$router.push({ name: "home" });
          } catch (error) {
            this.notif({
              type: "error",
              message: "System Error",
              description: error.message,
            });
          }
        }
      });
    },
  },
};
</script>

<style lang="scss" scoped>
.wrapperLogin {
  background: radial-gradient(circle, rgb(8, 140, 167) 0%, rgb(0, 52, 63) 100%);
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .boxLoginWrapper {
    .boxLogin-title {
      text-align: center;
      font-size: 25px;
      margin-bottom: 30px;
    }
    .boxLogin-square {
      margin: 0 auto;
      width: 350px;
      background: #fff;
      border-radius: 5px;
      box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
      padding: 15px;
    }
  }

  #components-form-demo-normal-login .login-form {
    max-width: 300px;
  }
  #components-form-demo-normal-login .login-form-forgot {
    float: right;
  }
  #components-form-demo-normal-login .login-form-button {
    width: 100%;
  }

  .ant-form-item {
    margin-bottom: 0px;
  }
}
</style>
