<template>
  <div id="app"><nprogress-container></nprogress-container><router-view /></div>
</template>

<style lang="scss">
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  font-family: "Montserrat" !important;
  background-color: #f8f8f8 !important;
}
.main {
  background-color: #f8f8f8 !important;

  &-toptitle {
    position: relative;
    display: inline-block;
    padding-right: 20px;
    font-size: 24px;
    color: #1f2855 !important;
    top: 3px;
  }

  &-breadcrumbs {
    background: #f8f8f8;

    padding: 8px 20px;
    border-radius: 0px;

    &-title {
      font-size: 20px;
      font-weight: bold;
    }
    &-subtitle {
      font-size: 11px;
      font-weight: normal;
    }
    .ant-breadcrumb-link {
      a {
        i {
          font-size: 12px;
          color: #457b9d;
        }
        span {
          font-size: 12px;
          color: #457b9d;
        }
      }
    }
  }

  &-content {
    background: #f8f8f8;
    padding: 15px 20px;
    min-height: 100% !important;
    border-radius: 5px;
  }
}

.table {
  &-content {
    padding: 15px 20px;
    min-height: 100% !important;
    border-radius: 5px;
  }
}

#ourCustom {
  .tagtitle {
    padding: 0px 15px !important;
    margin: 0px;
    color: #8fafc4;
    font-size: 10px;
    font-weight: 600;
    line-height: 18px;
    margin-top: 10px;
  }
  .override-asside {
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1) !important;
  }
  .ant-menu-inline,
  .ant-menu-vertical,
  .ant-menu-vertical-left {
    border-right: 0px !important;
  }

  .ant-select-dropdown,
  .ant-select-selection {
    background-color: #001529 !important;
    color: #fff !important;
    border: none !important;
    border-radius: 0px !important;
    font-size: 11px;
    font-weight: bold;
  }

  .ant-select-arrow {
    color: #fff;
  }

  .ant-select-selection-selected-value {
    width: 100% !important;
    text-align: center !important;
  }

  .ant-select-dropdown-menu-item {
    color: #fff;
    text-align: center;
  }

  .ant-select-dropdown-menu-item-selected,
  .ant-select-dropdown-menu-item:hover {
    color: rgba(13, 12, 41, 0.65);
  }

  .ant-menu-item-selected {
    background: #fff !important;
    div {
      background: #dae5eb;
      border-radius: 6px !important;
      color: #457b9d !important;
    }
  }

  .ant-menu-item,
  .ant-menu-submenu-title {
    height: auto !important;
    padding: 9px 10px !important;
    div {
      height: 35px !important;
      padding: 0px 15px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 15px;
    }
  }

  .ant-menu-item {
    div.child {
      &:hover {
        background: #d2000f;
        box-shadow: 0px 0px 10px #d2000f;
        border-radius: 6px;
        color: #fff !important;
      }
    }
  }

  .ant-menu-item:not(:last-child),
  .ant-menu-submenu-title {
    margin: 0px !important;
  }

  .ant-menu-inline .ant-menu-item::after {
    border-right: 0px !important;
  }

  .ant-select-dropdown-menu {
    padding: 0px !important;
  }
}

.bold {
  font-weight: bold;
  padding-left: 5px;
}

.formku {
  label {
    color: #555 !important;
  }
  span {
    color: #000;
    border: 1px dashed #ccc;
    padding: 5px 20px;
  }
}
.offscreen {
  position: absolute;
  left: 400px;
  top: auto;
}

.boxMitraKelembagaan {
  padding: 3px;
  border: 1px solid #15314b !important;
  border-radius: 5px;
}

.table {
  &-header,
  &-wrapper {
    background: #fff;
    padding: 10px;
    border-radius: 3px;

    .ant-form-item-label {
      label {
        font-size: 12px;
      }
    }
  }
}

#sub-frame-error {
  width: 100% !important;
  border: 1px solid black;
}

.globalWidth {
  width: 100%;
  height: 800px;
}

.avatar {
  width: 42px;
  height: 42px;
  background-size: cover;
  border-radius: 4px;
}

.ruler {
  border: none;
  border-bottom: 1px solid #eee;
  margin: 0px;
  padding: 0px;
  margin-top: 5px;
}

.filters {
  padding: 0px;
  background: #fff;

  &-header {
    padding: 5px 15px;
    .toggleInput {
      display: block;
      height: 40px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
    .toggleButton {
      position: absolute;
      display: inline-block;
      text-align: right;
      top: 7px;
      right: 0px;
    }

    .toggleIcon {
      font-size: "18px";
      font-weight: "bold";
      color: "#333";
      cursor: "pointer";
      padding: "2px";
      border: "1px solid black";
    }
  }

  &-content {
    padding: 15px;
    border-top: 1px solid #eee;
  }

  &-subtitle {
    font-style: italic;
    font-size: 12px;
    margin: 0px;
    padding: 0px;
    line-height: 12px !important;
  }
}

.badge {
  .ant-badge {
    font-size: 11px !important;
    top: -1px;
    margin-left: 5px;
  }
}

.icon-homecrumbs {
  position: relative;
  height: 14px !important;
  margin-right: 3px;
  top: -1px;
}

.ant-breadcrumb {
  display: inline-block !important;
}

.ant-layout {
  background: #f8f8f8 !important;
}

.identity {
  display: inline-block;
  padding: 0px 12px;
  @media screen and (max-width: 480px) {
    display: none;
  }

  .profile-name {
    line-height: 0px;
    text-align: right;
    position: relative;
    top: 8px;
  }
}

.digilearn {
  background: #ffffff;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
}

.ant-table-fixed {
  .ant-table-thead tr {
    th {
      background: #dae5eb !important;
      color: #1f2855 !important;
    }
  }
}

.ant-pagination {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;

  .ant-pagination-prev {
    margin-right: 10px;
    .ant-pagination-item-link {
      border: 0px solid !important;
      background: #f9dbdb;
      border-radius: 25px;
      color: #e16d6e;
    }
  }
  .ant-pagination-next {
    margin-left: 10px;
    .ant-pagination-item-link {
      border: 0px solid !important;
      background: #f9dbdb;
      border-radius: 25px;
      color: #e16d6e;
    }
  }
  .ant-pagination-item {
    margin-right: 0px;
    background: #f9dbdb;
    border: 0px solid !important;
    border-radius: 0px;
  }
  .ant-pagination-item-active {
    background: #d2000f;
    width: 40px;
    height: 40px;
    border-radius: 40px;

    text-align: center;
    a {
      height: 100%;
      line-height: 40px;
      color: #fff !important;
    }
  }
}

.swal2-icon.swal2-warning {
  border-color: #d2000f !important;
  border: 8px solid #d2000f !important;
  color: #d2000f !important;

  .swal2-icon-content {
    font-size: 40px;
    font-weight: bold !important;
  }
}

.swal2-confirm {
  background: #d2000f !important;
  border: 2px solid #d2000f !important;
  border-radius: 10px !important;
  padding: 8px 30px !important;
}
.swal2-cancel {
  background: #fff !important;
  border: 2px solid #d2000f !important;
  color: #d2000f !important;
  border-radius: 10px !important;
  padding: 8px 30px !important;
}

.swal2-title {
  color: #457b9d !important;
}

.swal2-html-container {
  color: #457b9d !important;
}

.ant-radio-wrapper {
  display: flex !important;
  justify-content: flex-start;
  align-items: center;
  height: 50px !important;
  p {
    display: block;
    margin: 0px;
    padding: 0px;
    line-height: 17px;
  }

  .radio-title {
    display: block;
    color: #1f2855;
    font-weight: bold;
  }

  .radio-sub-title {
    display: block;
    color: #797f99;
    font-size: 11px;
    width: 200px !important;
  }
}

.ant-tabs-tab-active {
  background: #cbe9e9;
  border-radius: 4px !important;
}
</style>

<script>
import NprogressContainer from "vue-nprogress/src/NprogressContainer";
export default {
  components: {
    NprogressContainer,
  },
};
</script>
