<template>
  <a-layout id="elearningapp" style="min-height: 100vh">
    <div id="ourCustom">
      <a-layout-sider
        v-model="collapsed"
        breakpoint="lg"
        collapsed-width="0"
        :trigger="null"
        @collapse="onCollapse"
        @breakpoint="onBreakpoint"
        style="height: auto"
        theme="light"
        :style="{ position: 'fixed', zIndex: 1000, width: '260px' }"
        class="override-asside"
      >
        <div class="logo">
          <div v-if="broken" class="closeable" @click="closeMenu">
            <a-icon type="left"></a-icon>
          </div>
          <!-- <img class="digilearn" src="/img/digilearn.png" alt="digilearn" /> -->
        </div>
        <perfect-scrollbar ref="scroll">
          <a-menu mode="inline" theme="light">
            <!-- DASHBOARD -->
            <a-menu-item key="dashboard" @click="pageSwitch">
              <div>
                <img class="icons" src="/img/icons/home.png" /> Dashboard
              </div>
            </a-menu-item>
          </a-menu>
          <div class="tagtitle">CLONE MANAGEMENT</div>
          <a-menu
            mode="inline"
            theme="light"
            :open-keys="openKeys"
            @openChange="onOpenChange"
          >
            <template>
              <!-- Content -->
              <a-sub-menu key="content">
                <span slot="title">
                  <div>
                    <img class="icons" src="/img/icons/box.png" />
                    Content
                  </div>
                </span>
                <!-- ASSIGNMENT -->
                <a-menu-item key="assignment-index" @click="pageSwitch">
                  <div class="child">
                    <img class="icons children" src="/img/icons/point.png" />
                    Assignment
                  </div>
                </a-menu-item>
                <!-- WEBINAR -->
                <a-menu-item key="webinar-index" @click="pageSwitch">
                  <div class="child">
                    <img class="icons children" src="/img/icons/point.png" />
                    Webinar
                  </div>
                </a-menu-item>
                <!-- VIDEO -->
                <a-menu-item key="video-index" @click="pageSwitch">
                  <div class="child">
                    <img class="icons children" src="/img/icons/point.png" />
                    Video
                  </div>
                </a-menu-item>
                <!-- Podcast -->
                <a-menu-item key="podcast-index" @click="pageSwitch">
                  <div class="child">
                    <img class="icons children" src="/img/icons/point.png" />
                    Podcast
                  </div>
                </a-menu-item>
                <!-- Files -->
                <a-menu-item key="files-index" @click="pageSwitch">
                  <div class="child">
                    <img class="icons children" src="/img/icons/point.png" />
                    Files
                  </div>
                </a-menu-item>
                <!-- Files -->
                <a-menu-item key="certificate-index" @click="pageSwitch">
                  <div class="child">
                    <img class="icons children" src="/img/icons/point.png" />
                    Certificate
                  </div>
                </a-menu-item>
                <a-menu-item key="course-index" @click="pageSwitch">
                  <div class="child">
                    <img class="icons children" src="/img/icons/point.png" />
                    Course
                  </div>
                </a-menu-item>
                <a-menu-item key="pathways-index" @click="pageSwitch">
                  <div class="child">
                    <img class="icons children" src="/img/icons/point.png" />
                    Pathways
                  </div>
                </a-menu-item>
                <a-menu-item key="voucher-index" @click="pageSwitch">
                  <div class="child">
                    <img class="icons children" src="/img/icons/point.png" />
                    Voucher
                  </div>
                </a-menu-item>
                <a-menu-item key="quiz-index" @click="pageSwitch">
                  <div class="child">
                    <img class="icons children" src="/img/icons/point.png" />
                    Quiz
                  </div>
                </a-menu-item>
                <a-menu-item key="category-index" @click="pageSwitch">
                  <div class="child">
                    <img class="icons children" src="/img/icons/point.png" />
                    Category
                  </div>
                </a-menu-item>
                <a-menu-item key="competencies-index" @click="pageSwitch">
                  <div class="child">
                    <img class="icons children" src="/img/icons/point.png" />
                    Competencies
                  </div>
                </a-menu-item>
              </a-sub-menu>

              <!-- Account -->
              <a-sub-menu key="account">
                <span slot="title">
                  <div>
                    <img class="icons" src="/img/icons/user.png" /> Account
                  </div>
                </span>
                <!-- Account Child -->
                <a-menu-item key="account-index" @click="pageSwitch">
                  <div class="child">
                    <img class="icons children" src="/img/icons/point.png" />
                    Account Child
                  </div>
                </a-menu-item>
              </a-sub-menu>

              <!-- Setting -->
              <a-sub-menu key="setting">
                <span slot="title">
                  <div>
                    <img class="icons" src="/img/icons/setting.png" /> Setting
                  </div>
                </span>
                <!-- Setting Child -->
                <a-menu-item key="setting-index" @click="pageSwitch">
                  <div class="child">
                    <img class="icons children" src="/img/icons/point.png" />
                    Setting Child
                  </div>
                </a-menu-item>
              </a-sub-menu>

              <!-- Analytics -->
              <a-sub-menu key="analytic">
                <span slot="title">
                  <div>
                    <img class="icons" src="/img/icons/chart.png" /> Analytic
                  </div>
                </span>
                <!-- Analytics Child -->
                <a-menu-item key="analytic-index" @click="pageSwitch">
                  <div class="child">
                    <img class="icons children" src="/img/icons/point.png" />
                    Analytic Child
                  </div>
                </a-menu-item>
              </a-sub-menu>

              <!-- Branding -->
              <a-sub-menu key="branding">
                <span slot="title">
                  <div>
                    <img class="icons" src="/img/icons/image.png" /> Branding
                  </div>
                </span>
                <!-- Branding Child -->
                <a-menu-item key="branding-index" @click="pageSwitch">
                  <div class="child">
                    <img class="icons children" src="/img/icons/point.png" />
                    Analytic Child
                  </div>
                </a-menu-item>
              </a-sub-menu>

              <!-- Integrasi -->
              <a-sub-menu key="integrasi">
                <span slot="title">
                  <div>
                    <img class="icons" src="/img/icons/link.png" /> Integrasi
                  </div>
                </span>
                <!-- Integrasi Child -->
                <a-menu-item key="integrasi-index" @click="pageSwitch">
                  <div class="child">
                    <img class="icons children" src="/img/icons/point.png" />
                    Integrasi Child
                  </div>
                </a-menu-item>
              </a-sub-menu>
            </template>
          </a-menu>
        </perfect-scrollbar>
        <div><p>CPanel</p></div>
      </a-layout-sider>
    </div>
    <a-layout
      :style="{
        overflow: 'hidden',
        paddingLeft: layoutPadding ? layoutPadding.left : '260px',
      }"
    >
      <a-layout-header
        :style="{
          background: '#F8F8F8',
          padding: '0px 10px',
          justifyContent: 'space-between',
          height: 'auto',
        }"
      >
        <sized-box :height="25" />
        <div class="searchbar">
          <a-row>
            <a-col :span="12">
              <div class="content left">
                <div class="collapsedIcon" @click="handleToggleSidebar">
                  <a-icon
                    class="trigger"
                    :type="collapsed ? 'menu-unfold' : 'menu-fold'"
                  />
                </div>
                <div class="searchIcon">
                  <img src="/img/icons/search.png" />
                </div>
              </div>
            </a-col>
            <a-col :span="12">
              <div class="content right">
                <div class="notificationIcon">
                  <img src="/img/icons/notification.png" />
                  <div class="notificationIconCount">4</div>
                </div>
                <div>
                  <profile-menu></profile-menu>
                </div>
              </div>
            </a-col>
          </a-row>
        </div>
      </a-layout-header>

      <a-layout-content>
        <router-view></router-view>
      </a-layout-content>

      <a-layout-footer style="text-align: center; background: #f8f8f8">
        Digilearn Slicing © 2022
      </a-layout-footer>
    </a-layout>
  </a-layout>
</template>
<script>
import { LayoutService } from "@/services/layouts/index.service";
import { mapState } from "vuex";
import { Model } from "vue-breakpoint-component";
import {
  isNavigationFailure,
  NavigationFailureType,
} from "vue-router/src/util/errors";

import ProfileMenu from "@/layouts/default/ProfileMenu.vue";

export default {
  components: {
    ProfileMenu,
  },
  data() {
    return {
      rootSubmenuKeys: [
        "dashboard",
        "content",
        "account",
        "setting",
        "analytics",
        "branding",
        "integrasi",
      ],
      openKeys: ["dashboard"],
      collapsed: false,
      broken: false,
      model: new Model(),
    };
  },
  mounted() {},
  methods: {
    onOpenChange(openKeys) {
      const latestOpenKey = openKeys.find(
        (key) => this.openKeys.indexOf(key) === -1
      );
      if (this.rootSubmenuKeys.indexOf(latestOpenKey) === -1) {
        this.openKeys = openKeys;
      } else {
        this.openKeys = latestOpenKey ? [latestOpenKey] : [];
      }
      this.$refs.scroll.$el.scrollTop = 0;
    },
    onCollapse() {},
    onBreakpoint(broken) {
      this.broken = broken;
      LayoutService.setBreakPoint(this.broken);
    },
    handleToggleSidebar() {
      this.collapsed = !this.collapsed;
      LayoutService.toggleSidebar(this.collapsed);
    },
    pageSwitch({ key }) {
      this.$router.push({ name: key }).catch((error) => {
        if (!isNavigationFailure(error, NavigationFailureType.duplicated))
          throw error;
      });

      if (this.broken) this.collapsed = true;
    },
    closeMenu() {
      this.collapsed = true;
    },
  },
  computed: {
    ...mapState("layouts", ["layoutPadding"]),
  },
};
</script>
<style lang="scss" scoped>
#elearningapp {
  width: 100%;
  height: auto !important;
  .logo {
    position: relative;
    height: 100px;
    .digilearn {
      display: block;
      position: relative;
      margin: 0 auto;
      height: 40px;
      top: 30px;
    }

    .closeable {
      position: absolute;
      top: 5px;
      right: 5px;
      display: inline-block;
      text-align: center;
      padding: 8px 5px;
      cursor: pointer;
      border-radius: 6px;
      width: 25px;
      height: 25px;
      background: white;
      color: #d2000f;
      border: 0.1px solid #d2000f;

      i {
        position: relative;
        top: -7px;
        font-size: 11px;
      }
    }
  }

  .collapsedIcon {
    display: flex !important;
    width: 50px;
    height: 65px !important;
    align-items: center;
    justify-content: center;
    background: #fff;
    cursor: pointer;
    i {
      display: block;
      font-size: 15px;
    }
  }

  .icons {
    height: 14px;
  }

  .children {
    height: 10px;
    margin-left: 10px;
  }
}

.ps {
  height: 100vh;
  .ps__rail-y {
    width: 5px !important;
  }
}

.searchbar {
  position: relative;
  background-color: #fff;
  height: 75px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  padding: 0px 10px;
  top: 0px;

  .content.left {
    display: flex;
    height: 75px;
    justify-content: flex-start;
    align-items: center;
  }
  .content.right {
    display: flex;
    height: 75px;
    justify-content: flex-end;
    align-items: center;
  }
}

.notificationIcon {
  position: relative;
  margin-right: 10px;
  img {
    height: 23px;
  }

  .notificationIconCount {
    position: absolute;
    display: block;
    top: 11px;
    height: 18px;
    width: 18px;
    background: #d2000f;
    right: -5px;
    color: #fff;
    line-height: 18px;
    text-align: center;
    border-radius: 25px;
  }
}

.searchIcon {
  border-left: 1px solid #f3f3f3;
  padding-left: 10px;
  img {
    height: 25px;
  }
}
</style>
