<template>
  <div class="boxMitraKelembagaan">
    <span
      :style="`display:block; padding: 5px 0px; margin: 0px 10px; color:#fff; font-size:10px;`"
    >
      Mitra Kelembagaan
    </span>
    <div v-if="avatarImage" style="padding: 10px">
      <img
        v-if="!this.imageError"
        class="avatar"
        :src="sourceImage"
        @error="onLoadError"
        @load="onLoad"
      />
      <a-avatar size="large" shape="square" icon="user" v-else />
    </div>
    <div v-else style="padding: 10px">
      <a-avatar size="large" shape="square" icon="user" />
    </div>
    <a-select
      v-model="lembagaDefault"
      @change="handleAccountChange"
      style="width: 90% !important; margin-bottom: 5px"
    >
      <a-select-option v-for="option in lembagaOptions" :key="option.id">
        {{ option.partner_name }}
      </a-select-option>
    </a-select>
  </div>
</template>

<script>
import { mapState } from "vuex";

export default {
  data() {
    return {
      defaultValue: "",
      avatarImage: "",
      imageError: false,
    };
  },
  mounted() {
    const data = this.$store.state.auth.usersData || undefined;
    this.avatarImage = data.defaultPartner
      ? data.defaultPartner.url_img
        ? data.defaultPartner.url_img
        : ""
      : "";
  },
  methods: {
    handleAccountChange(value) {
      const choosen = this.options.filter((item) => item.id === value);
      this.$store.commit("auth/SET_DEFAULT_PARTNER", choosen[0]);
      this.$router.go(this.$router.currentRoute);
    },
    capitalizeFirstLetter(string) {
      return string.charAt(0).toUpperCase() + string.slice(1);
    },
    onLoadError() {
      this.imageError = true;
    },
    onLoad() {
      this.imageError = false;
    },
  },
  computed: {
    sourceImage() {
      return this.imageError ? "" : this.avatarImage;
    },
    ...mapState("libs", {
      options: (state) => state.options.lembaga || [],
    }),
  },
};
</script>
