<template>
  <div>
    <a-dropdown>
      <a class="ant-dropdown-link" @click="(e) => e.preventDefault()">
        <div class="identity">
          <p class="profile-name">Jhon Doe</p>
          <p class="profile-name">Admin</p>
        </div>
        <a-avatar shape="circle" size="large" icon="user" />
      </a>
      <a-menu slot="overlay">
        <!-- <a-menu-item>Profile</a-menu-item> -->
        <a-menu-item @click="logOut">Logout</a-menu-item>
      </a-menu>
    </a-dropdown>
  </div>
</template>
<script>
export default {
  data() {
    return {
      name: "Admin",
    };
  },
  methods: {
    logOut() {
      this.$confirm({
        title: "Konfirmasi Logout",
        content: "Apakah anda yakin akan melogout akun ini?",
        okText: "Logout",
        cancelText: "Cancel",
        onOk() {},
        onCancel() {},
      });
    },
  },
};
</script>
